dom-module#shared-styles
  template
    style.
      :host {
        font-family: 'quicksand';
        --theme-light: #5386C5;
        --theme-medium: #4A76AE;
        --theme-dark: #3F6697;
        --theme-grey-light: #F5F7FA;
      }

      ::selection {
        background: rgba(61, 102, 152, 0.9);
        color: #F5F7FA;
      }

      .logo {
        color: var(--theme-dark);
        text-align: center;
        width:  100%;
        padding-top: 20px;
      }

      @media screen and (min-width: 1080px) {
        zacharyrs-mobile-menu {
          display: none;
        }
      }

      @media screen and (max-width: 1080px) {
        paper-tabs {
          display: none;
        }

        .logo {
          padding-top: 80px;
          font-size: 4cm !important;
        }
      }