link(rel="import", href="styles/zacharyrs-app.html")
link(rel="import", href="../bower/neon-animation/neon-animation.html")

dom-module#zacharyrs-aboutme
  template
    style(is="custom-style", include="shared-styles")
    div.
        This will be my about me page.
  script(type="text/javascript").
      'use strict';

      class AboutPage {
          get behaviors() {
              return [Polymer.NeonAnimationRunnerBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-aboutme';
              this.properties = {
                  visible: {
                      type: Boolean,
                      value: false
                  },
                  animationConfig: {
                      value: function() {
                          return {
                              'entry': [
                                  {
                                      name: 'fade-in-animation',
                                      node: this
                                  }
                              ],
                              'exit': [
                                  {
                                      name: 'fade-out-animation',
                                      node: this
                                  }
                              ]
                          }
                      }
                  }
              };
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}
      }

      Polymer(AboutPage);
