link(rel="import", href="../bower/paper-button/paper-button.html")
link(rel="import", href="../bower/iron-icon/iron-icon.html")
link(rel="import", href="../bower/iron-icons/iron-icons.html")

link(rel="import", href="styles/zacharyrs-app.html")

dom-module#zacharyrs-login
  template
    style(is="custom-style", include="shared-styles")
    template(is="dom-if", if="[[!signedIn]]")
      paper-button(on-tap="signIn")
        iron-icon(icon="account-circle")
        span.
          Sign In
    template(is="dom-if", if="[[signedIn]]")
      paper-button(on-tap="signOut")
        iron-icon(icon="account-circle")
        span.
          Log Out
  script(type="text/javascript").
      'use strict';

      class LoginPage {
          beforeRegister() {
              this.is = 'zacharyrs-login';
              this.properties = {
                  signedIn: {
                      type: Boolean,
                      reflectToAttribute: true,
                      value: false
                  }
              };
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}

          signIn() {
              this.fire('sign-in', null, { bubbles: false });
          };

          signOut() {
              this.fire('sign-out', null, { bubbles: false });
          };
      }

      Polymer(LoginPage);
