link(rel="import", href="styles/zacharyrs-app.html")


dom-module#zacharyrs-blogbox
  template
    style(is="custom-style", include="shared-styles").
      :host {
        box-sizing: border-box;
        width: calc(var(--width) * 0.90);
        height: calc(var(--height) * 0.90);
        margin: calc(var(--height) * 0.05) calc(var(--width) * 0.05) calc(var(--height) * 0.05) calc(var(--width) * 0.05);
      }

      .wrapper {
        position: relative;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        overflow: hidden;
        width: calc(var(--width) * 0.90);
        height: calc(var(--height) * 0.90);
      }

      .titlebox {
        display: flex;
        justify-content: center;
        background: url("/assets/img/crystal.png") top right no-repeat;
        background-size: calc(var(--height) * 0.5 * 0.90) calc(var(--height) * 1 * 0.90);
        position: absolute;
        left: 0;
        width: calc(var(--width) * 0.2 * 0.90);
        height: calc(var(--height) * 1.0 * 0.90);
        color: white;
        transition: all 0.2s ease;
      }

      :host.mini .wrapper a .titlebox:hover {
        background: url("/assets/img/crystal-white.png") top right no-repeat;
        background-size: calc(var(--height) * 0.5 * 0.90) calc(var(--height) * 1 * 0.90);
        color: var(--theme-dark);
        cursor: pointer;
      }

      .title {
        font-size: calc(var(--height) * 0.90 * 0.08) !important;
        align-self: center;
        text-align: center;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      .mainbox {
        background: var(--theme-grey-light);
        position: absolute;
        right: 0;
        width: calc(var(--width) * 0.8 * 0.90);
        height: calc(var(--height) * 1.0 * 0.90);
      }

      .datebox {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: right;
        color: var(--theme-dark);
        height: calc(var(--width) * 0.2 * 0.90);
        padding: calc(var(--width) * 0.04 * 0.90) calc(var(--width) * 0.04 * 0.90) 0 0;
        overflow: none;
      }

      .datebox:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("/assets/img/hexagon.png") right bottom no-repeat;
        background-size: calc(var(--width) * 2 * 0.90) calc(var(--width) * 2 * 0.90);
        opacity: 0.3;
      }

      .datebox .year {
        font-size: calc(var(--width) * 0.08 * 0.90);
      }

      .datebox .day {
        font-size: calc(var(--width) * 0.06* 0.90);
      }

      .contentbox {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: calc(var(--width) * 0.2 * 0.90);
        padding: calc(var(--width) * 0.03 * 0.90);
      }
    div.wrapper
      a(href="/post/[[post.id]]/[[_linkify(post.title)]]")
          div.titlebox
            div.title.
              [[_split(post.title)]]
      div.mainbox
        div.datebox
          div.day.
            [[post.day]]
          div.year.
            [[post.year]]
        div.contentbox.
          [[post.content]]
  script(type="text/javascript").
      'use strict';

      class BlogBox {
          beforeRegister() {
              this.is = 'zacharyrs-blogbox';
              this.properties = {};
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}

          _split(title) {
              return title.toLowerCase().split('').join('\n');
          }

          _linkify(title) {
              return title.toLowerCase().replace(' ', '-');
          }
      }

      Polymer(BlogBox);
