//- Import bower requirements.
link(rel="import", href="../bower/polymer/polymer.html")
link(rel="import", href="../bower/app-layout/app-header/app-header.html")
link(rel="import", href="../bower/app-layout/app-toolbar/app-toolbar.html")

//- Import parts of my app.


//- Import my general styling.
link(rel="import", href="styles/zacharyrs-app.html")

//- Define my base app.
dom-module#zacharyrs-app-shell
  template
    style(is="custom-style", include="shared-styles").
      :host{
        --waves-speed: 2;
      }

      app-header {
        height: 0px;
      }

      #waves {
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        z-index: 2;
      }

      #waves.minimised {
        top: -80vh;
      }

      #waves:after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(61, 102, 152, 0.6), rgba(61, 102, 152, 0) 60%, rgba(255, 255, 255, 0.5));
        z-index: 11;
        transform: translate3d(0, 0, 0);
      }

      #waves .wave {
        background: var(--theme-highlight-dark);
        opacity: .4;
        position: absolute;
        width: 400vw;
        height: 400vw;
        left: 50%;
        margin-left: -200vw;
        margin-top: -360vw;   /*change this for different viewports*/
        transform-origin: 50% 49%;
        border-radius: 48%;
      }

      /*animation stuff*/
      .wave.-one {
        animation: drift calc(3000ms * var(--waves-speed)) infinite linear;
      }

      .wave.-two {
        animation: drift calc(5000ms * var(--waves-speed)) infinite linear;
        background: var(--theme-highlight-dark);
        opacity: 0.1;
      }

      .wave.-three {
        animation: drift calc(2500ms * var(--waves-speed)) infinite linear;
      }

      .logo {
        position: fixed;
        font-size: 112px;
        font-weight: 300;
        line-height: 112px;
        opacity: 0.87;
        color: var(--theme-back-light);
        text-align: center;
        width: 100vw;
        padding-top: 18vh;
        z-index: 3;
      }

      @keyframes drift {
        from { transform: rotate(0deg); }
        from { transform: rotate(360deg); }
      }

      #mouse {
        background: var(--theme-highlight-dark) linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
        position: fixed;
        bottom: 4vh;
        left: 50%;
        margin-left: -26px;
        width: 52px;
        height: 88px;
        background-size: 100% 100%;
        border-radius: 100px;
        background-size: 225%;
        animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
      }

      #mouse:before, #mouse:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }

      #mouse:before {
        width: 46px;
        height: 82px;
        background-color: #FFFFFF;
        border-radius: 100px;
      }

      #mouse:after {
        background-color: var(--theme-highlight-dark);
        width: 10px;
        height: 10px;
        border-radius: 100%;
        animation: trackBallSlide 5s linear infinite;
      }

      @keyframes colorSlide {
        0% {
          background-position: 0% 100%;
        }
        20% {
          background-position: 0% 0%;
        }
        21% {
          background-color: var(--theme-highlight-dark);
        }
        29.99% {
          background-color: #ffffff;
          background-position: 0% 0%;
        }
        30% {
          background-color: var(--theme-highlight-dark);
          background-position: 0% 100%;
        }
        50% {
          background-position: 0% 0%;
        }
        51% {
          background-color: var(--theme-highlight-dark);
        }
        59.99% {
          background-color: #ffffff;
          background-position: 0% 0%;
        }
        60% {
          background-color: var(--theme-highlight-dark);
          background-position: 0% 100%;
        }
        80% {
          background-position: 0% 0%;
        }
        81% {
          background-color: var(--theme-highlight-dark);
        }
        89.99%, 100% {
          background-color: #ffffff;
        }
      }

      @keyframes trackBallSlide {
        0% {
          opacity: 1;
          transform: scale(1) translateY(-20px);
        }
        6% {
          opacity: 1;
          transform: scale(0.9) translateY(5px);
        }
        14% {
          opacity: 0;
          transform: scale(0.4) translateY(40px);
        }
        15%, 19% {
          opacity: 0;
          transform: scale(0.4) translateY(-20px);
        }
        28%, 29.99% {
          opacity: 1;
          transform: scale(1) translateY(-20px);
        }
        30% {
          opacity: 1;
          transform: scale(1) translateY(-20px);
        }
        36% {
          opacity: 1;
          transform: scale(0.9) translateY(5px);
        }
        44% {
          opacity: 0;
          transform: scale(0.4) translateY(40px);
        }
        45%, 49% {
          opacity: 0;
          transform: scale(0.4) translateY(-20px);
        }
        58%, 59.99% {
          opacity: 1;
          transform: scale(1) translateY(-20px);
        }
        60% {
          opacity: 1;
          transform: scale(1) translateY(-20px);
        }
        66% {
          opacity: 1;
          transform: scale(0.9) translateY(5px);
        }
        74% {
          opacity: 0;
          transform: scale(0.4) translateY(40px);
        }
        75%, 79% {
          opacity: 0;
          transform: scale(0.4) translateY(-20px);
        }
        88%, 100% {
          opacity: 1;
          transform: scale(1) translateY(-20px);
        }
      }

      @keyframes nudgeMouse {
        0% {
          transform: translateY(0);
        }
        20% {
          transform: translateY(8px);
        }
        30% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(8px);
        }
        60% {
          transform: translateY(0);
        }
        80% {
          transform: translateY(8px);
        }
        90% {
          transform: translateY(0);
        }
      }

      #content {
        position: absolute;
        top: calc(100vh - (4vh + 88px));
        display: block;
        height: 100vh;
        width: 100vw;
        z-index: 1;
      }

      .loading {
        display: none;
      }

    #waves
      div.wave.-one
      div.wave.-two
      div.wave.-three
    app-header(fixed)
      app-toolbar
        h1.logo.
          zacharyrs
    #content.loading
      #mouse
      //- Navigation will be here. To be added.
      //- Wrapper to handle custom scrollbar.
      //- div#wrapper(data-scrollbar)
        //- Page notifications, to be added.
        //- template(is="dom-repeat", items="[[notifications]]", as="notification")
        //-   zacharyrs-notice(notification="[[notification.content]]")
        //- Content to be added.
  script(type="text/javascript").
      'use strict';


      class HomePage {
          beforeRegister() {
              this.is = 'zacharyrs-app-shell';
              this.properties = {};
          }
          created() {}
          ready() {
              var content = this.$.content;
              var waves = this.$.waves;

              var link = document.createElement('link')
              link.href = '/elements.html';
              link.rel = 'import';
              link.addEventListener('load', loadElementsJS);
              document.head.appendChild(link);

              function loadElementsJS() {
                  console.log('Elements loaded, now loading the JS!');
                  if (location.hostname === "localhost") {
                      loadApp()
                  } else {
                      var app = document.createElement('script');
                      app.dataset.cfasync = 'false';
                      app.src = '/elements.js';
                      document.body.appendChild(app);
                      app.onload = loadApp()
                  }
              }

              function loadApp() {
                  console.log('JS loaded, time to allow scrolling!');
                  setTimeout(() => {
                      content.classList.remove('loading');
                  }, 1000);
                  setTimeout(() => {
                      waves.classList.add('minimised');
                  }, 5000);
              };
          }
          attached() {}
          detached() {}
          attributeChanged() {}
      }

      Polymer(HomePage);
