link(rel="import" href="styles/zacharyrs-app.html")

dom-module#zacharyrs-loading
  template
    style(is="custom-style" include="shared-styles")
    div#loading.
      CREATE A LOADING PAGE
  script(type="text/javascript").
      'use strict';

      class LoadingPage {
          beforeRegister() {
              this.is = 'zacharyrs-loading';
              this.properties = {};
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}
      }

      Polymer(LoadingPage);
