link(rel="import", href="../bower/polymer/polymer.html")
link(rel="import", href="../bower/iron-menu-behavior/iron-menubar-behavior.html")

link(rel="import", href="styles/zacharyrs-app.html")

dom-module#zacharyrs-mobile-menu
  template
    style(is="custom-style", include="shared-styles").
      :host {
        position: fixed;
        z-index: 2;
        bottom: 0;
        right: 0;
        min-height: 24vh;
        min-width: 24vw;
        overflow: hidden;
        outline: none;
      }

      .menu-blocker {
        position: fixed;
        will-change: transform;
        transform: translate(-100vw, 0);
        transition: all 0.2s ease-in;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.1);
        transition-delay: 0.55s;
      }

      .menu-wrapper {
        height: 18vh;
        width:  18vh;
        text-align: center;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .menu-btn {
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1;
        bottom: 4vh;
        right: 4vh;
        width: 12vh;
        height: 12vh;
        background: transparent;
        cursor: pointer;
      }

      .menu-btn::before {
        will-change: scale;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 12vh;
        height: 12vh;
        background: var(--theme-dark);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        transform-origin: center 70%;
        transform: scale(1);
        border-radius: 50%;
        transition: all 0.35s ease-out;
        transition-delay: 0.2s;
      }

      .menu-wrapper:hover, .menu-wrapper.active, .menu-wrapper.full{
        height: 100vh;
        width: 56vw;
      }

      .menu-blocker.active {
        transform: translate(0, 0);
        transition: all 0.2s ease-out;
        transition-delay: 0s;
      }

      .menu-wrapper.active .menu-btn::before {
        transform: scale(26);
        transition-delay: 0.2s;
      }

      .hamburger {
        transition: all 0.3s ease-out;
        cursor: pointer;
      }

      .patty {
        will-change: transform rotate;
        width: 5vh;
        height: 3px;
        margin: 0 0 0.8vh 0;
        background: white;
        transform: translate(0, 0) rotate(0deg);
        transition: all 0.2s ease-out;
      }

      .patty:last-child {
        margin-bottom: 0;
      }

      :host.active {
        min-height: 100vh;
        min-width: 100vw;
      }

      .menu-wrapper.active .hamburger {
        transform: rotate(-180deg);
      }

      .menu-wrapper.active .hamburger .patty:nth-child(1) {
        transform: translate(-1.5vh, 0.51vh) rotate(-45deg) scale(0.56, 1);
      }

      .menu-wrapper.active .hamburger .patty:nth-child(3) {
        transform: translate(-1.5vh, -0.51vh) rotate(45deg) scale(0.56, 1);
      }

      .menu-items {
        position: relative;
        display: inline-block;
        top: 4vh;
        font-size: 8vw;
        text-align: right;
        z-index: 2;
        color: white;
        transform: translate(56vw, 0);
        transition: all 0.2s ease-out;
        transition-delay: 0s;
        will-change: transform;
      }

      .menu-wrapper.active .menu-items {
        transform: translate(0, 0);
        transition-delay: 0.4s;
      }

      .menu-items ::content div {
        margin-top: 6vh;
        outline: none;
        cursor: pointer;
      }

      .menu-items ::content > .iron-selected {
        font-weight: bold !important;
      }

    div.menu-blocker(on-click="_toggleMenu")
    div.menu-wrapper
      div.menu-btn(on-click="_toggleMenu")
        div.hamburger
          div.patty
          div.patty
          div.patty
      div.menu-items
        content
  script(type="text/javascript").
      'use strict';

      class MobileMenu {
          get behaviors() {
              return [Polymer.IronMenubarBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-mobile-menu';
              this.properties = {};
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}

          _toggleMenu(event) {
              let wrapper = document.querySelector('.menu-wrapper'),
                  blocker = document.querySelector('.menu-blocker'),
                  ham = document.querySelector('.hamburger');
              if(this.classList.contains('active')){
                  var thing = this
                  setTimeout(function () {
                      thing.classList.remove('active');
                      Polymer.updateStyles();
                  }, 700)
              } else {
                  this.classList.add('active');
                  Polymer.updateStyles();
              }
              wrapper.classList.toggle('active');
              blocker.classList.toggle('active');
              wrapper.classList.add('full');
              setTimeout(function () {
                  wrapper.classList.remove('full');
              }, 500);
              event.preventDefault();
              event.stopImmediatePropagation();
          }
      }

      Polymer(MobileMenu);