link(rel="import", href="../bower/polymer/polymer.html")
link(rel="import", href="../bower/showdown-element/showdown-element.html")
link(rel="import", href="../bower/neon-animation/neon-animation.html")
link(rel="import", href="../bower/paper-ripple/paper-ripple.html")

link(rel="import", href="moment-import.html")

link(rel="import", href="styles/zacharyrs-app.html")

dom-module#zacharyrs-blogbox
  template
    style(is="custom-style", include="shared-styles").
      :host {
        box-sizing: border-box;
        width: calc(var(--width) * 0.90);
        height: calc(var(--height) * 0.90);
        margin: calc(var(--height) * 0.05) calc(var(--width) * 0.05) calc(var(--height) * 0.05) calc(var(--width) * 0.05);
      }

      .wrapper {
        position: relative;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        overflow: hidden;
        width: calc(var(--width) * 0.90);
        height: calc(var(--height) * 0.90);
      }

      .titlebox {
        font-family: 'Quicksand';
        background: url("/assets/img/crystal.jpg") top right no-repeat;
        background-size: calc(var(--height) * 0.5 * 0.90) calc(var(--height) * 1 * 0.90);
        position: absolute;
        left: 0;
        width: calc(var(--width) * 0.2 * 0.90);
        height: calc(var(--height) * 1.0 * 0.90);
        color: white;
        transition: all 0.2s ease;
      }

      .titleripple {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
      }

      paper-ripple {
        color: var(--theme-dark);
      }

      :host.mini .wrapper .titlebox:hover {
        background: url("/assets/img/crystal-white.jpg") top right no-repeat;
        background-size: calc(var(--height) * 0.5 * 0.90) calc(var(--height) * 1 * 0.90);
        color: var(--theme-dark);
        cursor: pointer;
      }

      .title {
        font-size: calc(var(--height) * 0.90 * 0.07) !important;
        line-height: calc(var(--height) * 0.90 * 0.08) !important;
        align-self: center;
        text-align: center;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      .mainbox {
        background: var(--theme-grey-light);
        position: absolute;
        right: 0;
        width: calc(var(--width) * 0.8 * 0.90);
        height: calc(var(--height) * 1.0 * 0.90);
      }

      .datebox {
        font-family: 'Quicksand';
        font-weight: 300;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: right;
        color: var(--theme-dark);
        height: calc(var(--width) * 0.2 * 0.90);
        overflow: none;
      }

      :host.mini .wrapper .mainbox .datebox:hover {
        cursor: pointer;
      }

      .dateripple {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .datebox::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("/assets/img/hexagon.png") right bottom no-repeat;
        background-size: calc(var(--width) * 2 * 0.90) calc(var(--width) * 2 * 0.90);
        opacity: 0.1;
      }

      .datebox .day {
        font-size: calc(var(--width) * 0.06* 0.90);
        padding: calc(var(--width) * 0.04 * 0.90) calc(var(--width) * 0.04 * 0.90) 0 0;
      }

      .datebox .year {
        font-size: calc(var(--width) * 0.08 * 0.90);
        padding: 0 calc(var(--width) * 0.04 * 0.90) 0 0;
      }

      .contentbox {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: calc(var(--width) * 0.2 * 0.90);
        padding: calc(var(--width) * 0.03 * 0.90);
        overflow: hidden;
      }

      .contentbox::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(var(--width) * 0.03 * 0.90 * 5);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--theme-grey-light) 80%, var(--theme-grey-light)) 100%;
      }

      .contentbox showdown-element {
        width: 100%;
      }
    div.wrapper
      div.titlebox
        div.titleripple
          paper-ripple(on-transitionend="_openPost")
          div.title(role="button").
            [[_split(post.title)]]
      div.mainbox
        div.datebox
          div.dateripple
            paper-ripple(on-transitionend="_openPost")
            div.day(role="button").
              [[_date]]
            div.year(role="button").
              [[_year]]
        div.contentbox
          showdown-element(markdown="[[post.body]]", supportextra, highlightjs, fontawesome)
            div.markdown-html
          //- a(href="/user/[[post.userId]]").
          //-   [[post.userId]]
  script(type="text/javascript").
      'use strict';

      class BlogBox {
          get behaviors() {
              return [Polymer.NeonAnimationRunnerBehavior, Polymer.NeonAnimatableBehavior, Polymer.PaperRippleBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-blogbox';
              this.properties = {
                  visible: {
                      type: Boolean,
                      observer: '_animateNow',
                      value: false
                  },
                  post: {
                      type: Object
                  },
                  _date: {
                      type: String,
                      computed: '_moment(post.time, "DD/MM")'
                  },
                  _year: {
                      type: String,
                      computed: '_moment(post.time, "YYYY")'
                  },
                  _postLink: {
                      type: String,
                      computed: '_linkify(post.id, post.title)'
                  },
                  animationConfig: {
                      value: function() {
                          return {
                              'entry': [
                                  {
                                      name: 'scale-up-animation',
                                      node: this,
                                      timing: {
                                          duration: 300,
                                          delay: 0
                                      }
                                  },
                                  {
                                      name: 'fade-in-animation',
                                      node: this,
                                      timing: {
                                          duration: 200,
                                          delay: 100
                                      }
                                  }
                              ]
                          };
                      }
                  }
              };
          }
          created() {}
          ready() {}
          attached() {
              this.playAnimation('entry');
          }
          detached() {}
          attributeChanged() {}

          _split(title) {
              return title.toLowerCase().split('').join('\n');
          }

          _linkify(id, title) {
              return '/post/' + id + '/' + title.toLowerCase().split(' ').join('-');
          }

          _moment(timestamp, filter) {
              return moment(timestamp).format(filter);
          }

          _openPost(e) {
              this.fire('open-post', {link: this.get('_postLink')}, { bubbles: false });
          }

          _animateNow(visible) {
              if(visible) {
                  this.playAnimation('entry');
              }
          }
      }

      Polymer(BlogBox);
