link(rel="import", href="../bower/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="../bower/neon-animation/neon-animation.html")
link(rel="import", href="../bower/polymerfire/firebase-query.html")

link(rel="import", href="styles/zacharyrs-app.html")
link(rel="import", href="zacharyrs-blogbox.html")

dom-module#zacharyrs-blog
  template
    style(is="custom-style", include="shared-styles iron-flex").
      .container {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        margin: 0 2vw 0 2vw;
      }

      zacharyrs-blogbox {
        --width: calc(96vw / 3);
        --height: calc(96vw / 3);
      }

      @media handheld, only screen and (max-width: 1080px) {
        zacharyrs-blogbox {
          --width: calc(96vw / 2);
          --height: calc(96vw / 2);
        }
      }

      @media handheld, only screen and (max-width: 640px) {
        zacharyrs-blogbox {
          --width: calc(96vw / 1);
          --height: calc(96vw / 1);
        }
      }

      zacharyrs-blogbox.full {
        --width: calc(96vw);
        --height: calc(96vw);
      }

    firebase-query(
      id="blogQuery",
      app-name="zacharyrs",
      path="/blog",
      data="{{blog-data}}"
    )
    section.container
      template(is="dom-repeat", items="[[blog-data]]", as="post")
        template(is="dom-if", if="[[post.content.show]]")
          zacharyrs-blogbox.mini(post="[[post.content]]", on-open-post="_openPost", visible="[[visible]]")
  script(type="text/javascript").
      'use strict';

      class BlogPage {
          get behaviors() {
              return [Polymer.NeonAnimationRunnerBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-blog';
              this.properties = {
                  visible: {
                      type: Boolean,
                      value: false
                  },
                  animationConfig: {
                      value: function() {
                          return {
                              'entry': [
                                  {
                                      name: 'fade-in-animation',
                                      node: this
                                  }
                              ],
                              'exit': [
                                  {
                                      name: 'fade-out-animation',
                                      node: this
                                  }
                              ]
                          }
                      }
                  }
              };
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}

          _openPost(e) {
              this.fire('open-post', {link: e.detail.link}, { bubbles: false });
          }
      }

      Polymer(BlogPage);
