//- Bower imports
link(rel="stylesheet", type="text/css", href="bower/smooth-scrollbar/dist/smooth-scrollbar.css")
link(rel="stylesheet", type="text/css", href="highlightjs.css")
script(type="text/javascript", src="bower/clientjs/dist/client.min.js")
script(type="text/javascript", src="bower/smooth-scrollbar/dist/smooth-scrollbar.js")
script(type="text/javascript", src="bower/highlightjs/highlight.pack.js")

//- My assets
link(rel="import", id="app" href="components/zacharyrs-app.html")
