html
  head
    title.
        zacharyrs
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Data
    link(rel="manifest", href="assets/data/manifest.json")

    //- Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand", media="none", onload="if(media!='all')media='all'")

    //- Bower imports
    script(type="text/javascript", src="bower/webcomponentsjs/webcomponents.js")
    script(type="text/javascript", src="bower/smooth-scrollbar/dist/smooth-scrollbar.js")
    link(rel="import", href="bower/polymer/polymer.html")
    link(rel="stylesheet", href="bower/material-typography/css/typography.min.css")

    //- Icons
    link(rel="shortcut icon", href="assets/icons/favicon.ico")
    link(rel="icon", type="image/png", href="assets/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/icons/favicon-16x16.png", sizes="16x16")

    //- My assets
    link(rel="import", href="components/zacharyrs-app.html")
  body
    zacharyrs-app