html
  head
    title.
      zacharyrs
    meta(charset="utf-8")
    meta(name="google-site-verification", content="3NTwLqUUduH4MyIsmw0Z3bC9nol4ZMskGxeO7Pa02Jo")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url", content="https://zacharyrs.me/")
    meta(property="og:type", content="website")
    meta(property="og:title", content="zacharyrs")
    meta(property="og:image", content="https://zacharyrs.me/assets/img/ogimage.jpg")
    style.
      html, body {
        min-height: 100% !important;
        line-height: 1;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
        -webkit-touch-callout: none !important;
      }
      * {
        border: 0;
        margin: 0;
        vertical-align: baseline;
      }
      body.loading {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
      }
      #splash {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/assets/img/crystal.jpg');
        background-size: cover;
        transition: transform 0.4s ease-in;
        transition-delay: 5.4s;
        will-change: opacity;
        z-index: 10;
        transform: translate(0, -100vh);
      }
      #splash svg#logoimg {
        position: relative;
        width: 50vw;
        top: 8vh;
        left: 25vw;
        right: 25vw;
      }
      #splash svg#logoimg path {
        stroke: #F5F7FA;
        fill: none;
        stroke-width: 3;
        animation-delay: 2s;
      }
      #splash svg#logoimg path#large {
        stroke-dasharray: 1475;
        stroke-dashoffset: -1475;
        animation: offsetlarge 3.4s ease-out infinite;
      }
      #splash svg#logoimg path#small {
        stroke-dasharray: 254;
        stroke-dashoffset: -254;
        animation: offsetsmall 3.4s ease-out infinite;
      }
      @keyframes offsetlarge {
        0% {
          stroke-dashoffset: -1475;
        }
        75% {
          stroke-dashoffset: 0;
        }
        100% {
          stroke-dashoffset: 1475;
        }
      }
      @keyframes offsetsmall {
        0% {
          stroke-dashoffset: 254;
        }
        75% {
          stroke-dashoffset: 0;
        }
        100% {
          stroke-dashoffset: -254;
        }
      }
      #splash h1 {
        font-family: 'quicksand';
        color: white;
        text-align: center;
        width:  100vw;
        position: absolute;
        bottom: 16vh;
        font-size: 10vh;
        font-weight: 300;
        letter-spacing: -0.005em;
        line-height: 56px;
      }
      body.loading #splash {
        transform: translate(0, 0);
      }
      body.loading zacharyrs-app {
        display: none;
      }
      @media handheld, only screen and (max-width: 1080px) {
        #splash svg#logoimg {
          width: 80vw;
          left: 10vw;
          right: 10vw;
        }
      }
    //- Data
    link(rel="manifest", href="/assets/data/manifest.json?v=9BangRkAd4")
    meta(name="msapplication-config", content="/assets/data/browserconfig.xml?v=9BangRkAd4")
    meta(name="apple-mobile-web-app-title", content="zacharyrs")
    meta(name="application-name", content="zacharyrs")
    meta(name="theme-color", content="#3f6697")

    //- Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300")

    //- Icons
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/icons/apple-touch-icon.png?v=9BangRkAd4")
    link(rel="icon", type="image/png", href="/assets/icons/favicon-32x32.png?v=9BangRkAd4", sizes="32x32")
    link(rel="icon", type="image/png", href="/assets/icons/favicon-16x16.png?v=9BangRkAd4", sizes="16x16")
    link(rel="mask-icon", href="/assets/icons/safari-pinned-tab.svg?v=9BangRkAd4", color="#3f6697")
    link(rel="shortcut icon", href="/assets/icons/favicon.ico?v=9BangRkAd4")

    //- My assets
    //- link(rel="import", id="app" href="/elements.html")
    link(rel="prefetch", href="/assets/img/crystal.jpg")
    link(rel="prefetch", href="/assets/img/crystal-white.jpg")
    link(rel="prefetch", href="/assets/img/hexagon.png")
  body.loading
    div#splash
      svg(id="logoimg", version="1.1", xmlns="http://www.w3.org/2000/svg", x="0px", y="0px", viewBox="0 0 370 260")
        path(id="small" d="M331.3,71.9H114.8c-5.2,0-9.5,4.3-9.5,9.5v21.9")
        path(id="large" d="M139.3,218.8v-106c0-5.3-4.2-9.5-9.5-9.5H58.3c-5.2,0-9.5,4.3-9.5,9.5v132.6c0,5.2,4.3,9.5,9.5,9.5h71.6c5.2,0,9.5-4.3,9.5-9.5v-5.3c0-3.8,1.9-7.3,4.8-9.4c1.9-1.5,4.4-2.4,7.1-2.4h9.5h194.6c5.2,0,9.5-4.3,9.5-9.5V81.4c0-5.2-4.2-9.5-9.5-9.5h-2.7c-3.9,0-7.3-1.8-9.5-4.7c-1.5-2-2.4-4.4-2.4-7.1v-9.5V14.5c0-5.2-4.2-9.5-9.5-9.5H14.5C9.3,5,5,9.3,5,14.5V204c0,5.2,4.2,9.5,9.5,9.5h20")
      h1.
        zacharyrs
    script(type="text/javascript").
        function load() {
            if ('registerElement' in document
                && 'import' in document.createElement('link')
                && 'content' in document.createElement('template')) {
                console.log('Components are supported!');
                loadElements();
            } else {
                var wbcm = document.createElement('script');
                wbcm.src = '/assets/bower/webcomponentsjs/webcomponents-lite.min.js';
                document.head.appendChild(wbcm);
                wbcm.onload = loadElements();
            }

            function loadElements() {
                var link = document.createElement('link')
                link.href = '/elements.html';
                link.rel = 'import';
                link.addEventListener('load', loadApp);
                document.head.appendChild(link);
            }

            function loadApp() {
                console.log('Webcomponents initialized (or native shadowdom supported)!');
                if (location.hostname === "localhost") {
                    loadedApp()
                } else {
                    var app = document.createElement('script');
                    app.dataset.cfasync = 'false';
                    app.src = '/elements.js';
                    document.body.appendChild(app);
                    app.onload = loadedApp()
                }
            }

            function loadedApp() {
                var loadScreen = document.getElementById('splash');
                loadScreen.addEventListener('transitionend', loadScreen.remove);
                document.body.classList.remove('loading');
                loadDeferredStyles();
            };

            function loadDeferredStyles() {
                var gfonts = document.createElement('link');
                var faweso = document.createElement('link');
                gfonts.href = 'https://fonts.googleapis.com/css?family=Quicksand:400,700|Raleway:400,400i,700,700i|Source+Code+Pro:700';
                faweso.href = 'https://use.fontawesome.com/719774c3f8.css';
                gfonts.rel = 'stylesheet';
                faweso.rel = 'stylesheet';
                document.body.appendChild(gfonts);
                document.body.appendChild(faweso);
            };
        };

        if (document.readyState === 'complete') {
            load();
        } else {
            window.onload = load;
        }
    zacharyrs-app