html
  head
    title.
      zacharyrs
    meta(charset="utf-8")
    meta(name="google-site-verification", content="3NTwLqUUduH4MyIsmw0Z3bC9nol4ZMskGxeO7Pa02Jo")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url", content="https://zacharyrs.me/")
    meta(property="og:type", content="website")
    meta(property="og:title", content="zacharyrs")
    meta(property="og:image", content="https://zacharyrs.me/assets/img/ogimage.jpg")
    style.
      html, body {
        margin: 0;
        padding: 0;
        border: 0;
        min-height: 100% !important;
        line-height: 1;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
        -webkit-touch-callout: none !important;
      }
      * {
        border: 0;
        margin: 0;
        vertical-align: baseline;
      }
      /*body.loading {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
      }*/
    //- Data
    link(rel="manifest", href="/assets/data/manifest.json?v=9BangRkAd4")
    meta(name="msapplication-config", content="/assets/data/browserconfig.xml?v=9BangRkAd4")
    meta(name="apple-mobile-web-app-title", content="zacharyrs")
    meta(name="application-name", content="zacharyrs")
    meta(name="theme-color", content="#3f6697")

    //- Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300")

    //- Icons
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/icons/apple-touch-icon.png?v=9BangRkAd4")
    link(rel="icon", type="image/png", href="/assets/icons/favicon-32x32.png?v=9BangRkAd4", sizes="32x32")
    link(rel="icon", type="image/png", href="/assets/icons/favicon-16x16.png?v=9BangRkAd4", sizes="16x16")
    link(rel="mask-icon", href="/assets/icons/safari-pinned-tab.svg?v=9BangRkAd4", color="#3f6697")
    link(rel="shortcut icon", href="/assets/icons/favicon.ico?v=9BangRkAd4")

  body
    script(type="text/javascript").
        function load() {
            if ('registerElement' in document
                && 'import' in document.createElement('link')
                && 'content' in document.createElement('template')) {
                console.log('Components are supported!');
                loadLoader();
            } else {
                var wbcm = document.createElement('script');
                wbcm.src = '/assets/bower/webcomponentsjs/webcomponents-lite.min.js';
                document.head.appendChild(wbcm);
                wbcm.onload = loadLoader();
            }

            function loadLoader() {
                var link = document.createElement('link')
                link.href = '/shell.html';
                link.rel = 'import';
                link.addEventListener('load', loadLoaderJS);
                document.head.appendChild(link);
            }

            function loadLoaderJS() {
                console.log('Webcomponents initialized (or native shadowdom supported)!');
                if (location.hostname === "localhost") {
                    loadDeferredStyles()
                } else {
                    var app = document.createElement('script');
                    app.dataset.cfasync = 'false';
                    app.src = '/shell.js';
                    document.body.appendChild(app);
                    app.onload = loadDeferredStyles()
                }
            }

            function loadDeferredStyles() {
                var gfonts = document.createElement('link');
                var faweso = document.createElement('link');
                gfonts.href = 'https://fonts.googleapis.com/css?family=Quicksand:400,70|Raleway:100,100italic,200,200italic,300,300italic,400,400i,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic';
                faweso.href = 'https://use.fontawesome.com/719774c3f8.css';
                gfonts.rel = 'stylesheet';
                faweso.rel = 'stylesheet';
                document.body.appendChild(gfonts);
                document.body.appendChild(faweso);
            };
        };

        if (document.readyState === 'complete') {
            load();
        } else {
            window.onload = load;
        }
    zacharyrs-app-shell
