html
  head
    title.
        zacharyrs
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url", content="https://zacharyrs.me/")
    meta(property="og:type", content="website")
    meta(property="og:title", content="zacharyrs")
    meta(property="og:image", content="https://zacharyrs.me/assets/img/ogimage.jpg")

    style.
        html, body {
            min-height: 100% !important;
            line-height: 1;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
            -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
            -webkit-touch-callout: none !important;
        }
        * {
          border: 0;
          margin: 0;
          vertical-align: baseline;
        }
        body.loading {
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          overflow: hidden;
        }
        #splash {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: url('/assets/img/crystal.jpg');
          background-size: cover;
          transition: transform 0.4s ease-in;
          transition-delay: 0.3s;
          will-change: opacity;
          z-index: 10;
          transform: translate3d(0, -100vh, 0);
        }
        #splash::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: url('/assets/img/svg/logo.svg') 50% 30% no-repeat;
          background-size: 80vh;
        }
        #splash h1 {
          font-family: 'quicksand';
          color: white;
          text-align: center;
          width:  100vw;
          position: absolute;
          bottom: 20vh;
          font-size: 10vh;
          font-weight: 400;
          letter-spacing: -0.005em;
          line-height: 56px;
        }
        body.loading #splash {
          transform: translate3d(0, 0, 0);
        }
        @media handheld, only screen and (max-width: 1080px) {
          #splash::before {
            background-size: 80%;
          }
        }

    //- Data
    link(rel="manifest", href="/assets/data/manifest.json")

    //- Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700|EB+Garamond", media="none", onload="if(media!='all')media='all'")
    link(rel="stylesheet", href="https://use.fontawesome.com/719774c3f8.css", media="none", onload="if(media!='all')media='all'")

    //- Bower imports
    link(rel="stylesheet", type="text/css", href="bower/smooth-scrollbar/dist/smooth-scrollbar.css")
    link(rel="stylesheet", type="text/css", href="bower/highlightjs/styles/dracula.css")
    <!-- webcomponents:html -->
    <!-- endinject -->
    script(type="text/javascript", src="bower/clientjs/dist/client.min.js")
    script(type="text/javascript", src="bower/smooth-scrollbar/dist/smooth-scrollbar.js")
    script(type="text/javascript", src="bower/highlightjs/highlight.pack.js")
    link(rel="import", href="bower/polymer/polymer.html")

    //- Icons
    link(rel="shortcut icon", href="/assets/icons/favicon.ico")
    link(rel="icon", type="image/png", href="/assets/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/assets/icons/favicon-16x16.png", sizes="16x16")

    //- My assets
    link(rel="import", id="app" href="components/zacharyrs-app.html")
    link(rel="prefetch", href="/assets/img/crystal.jpg")
    link(rel="prefetch", href="/assets/img/crystal-white.jpg")
    link(rel="prefetch", href="/assets/img/hexagon.png")
  body.loading
    div#splash
      h1.
        zacharyrs
    zacharyrs-app