.hljs
    display block
    overflow-x auto
    padding 1em
    color #C7AE95
    background #1C2023
    font-weight 700 !important
    border-radius 8px
.hljs *
    font-weight 700 !important
.hljs-subst
    color #C7AE95
.hljs-keyword
    color #C795AE
.hljs-built_in
    color #C7CCD1
.hljs-type
    color #C7CCD1
.hljs-literal
    color #95AEC7
.hljs-number
    color #C7C795
.hljs-regexp
    color #95AEC7
.hljs-string
    color #95C7AE
.hljs-symbol
    color #95C7AE
.hljs-class
    .hljs-title
        color #AEC795
.hljs-function
    .hljs-title
        color #AE95C7
.hljs-params
    color #C7AE95
.hljs-comment
    color #747C84
    font-style italic
.hljs-doctag
    color #ADB3BA
.hljs-meta
    color #ADB3BA
// .hljs-meta-keyword
// .hljs-meta-string


// Tags, attributes, configs
// .hljs-section
// .hljs-tag
// .hljs-name
// .hljs-builtin-name
// .hljs-attr
// .hljs-attribute
// .hljs-variable
// .hljs-bullet


// Markup
// .hljs-code
// .hljs-emphasis
// .hljs-strong
// .hljs-formula
// .hljs-link
// .hljs-quote

// CSS
// .hljs-selector-tag
// .hljs-selector-id
// .hljs-selector-class
// .hljs-selector-attr
// .hljs-selector-pseudo

// Templates
// .hljs-template-tag
// .hljs-template-variable