link(rel="import", href="../../bower/polymer/polymer.html")

dom-module#shared-styles
  template
    style.
      :host {
        --theme-highlight-light: rgb(83, 134, 197);
        --theme-highlight-medium: rgb(74, 118, 174);
        --theme-highlight-dark: rgb(63, 102, 151);
        --theme-back-light: rgb(245, 247, 250);
        --theme-back-medium: rgb(170, 178, 189);
        --theme-back-dark: rgb(67, 74, 84);
        font-family: 'Raleway';
        font-size: 16px;
        color: #333;
        font-weight: 300;
      }

      ::selection {
        background: var(--theme-highlight-dark);
        color: var(--theme-back-light);
      }

      blockquote, q {
        quotes: none;
      }

      blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      /* Custom typography */

      h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        font-family: 'Quicksand';
        color: #555555;
        text-transform: lowercase;
      }

      h1 {
        font-size: 5.6em;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        line-height: 1.2;
      }

      h2 {
        font-size: 3.4em;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        line-height: 1.1;
      }

      h3 {
        font-size: 2.6em;
        margin-top: 0.6em;
        margin-bottom: 0.3em;
        line-height: 1.2;
      }

      h4 {
        font-size: 1.8em;
        margin-top: 0.7em;
        margin-bottom: 0.3em;
        line-height: 1.3;
      }

      h5 {
        font-size: 1.5em;
        margin-top: 0.8em;
        margin-bottom: 0.2em;
        line-height: 1.4;
      }

      h6 {
        font-size: 1.1em;
        margin-top: 0.8em;
        margin-bottom: 0.2em;
        line-height: 1.5;
      }

      p {
        margin-top: 1em;
        margin-bottom: 1.5em;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.7;
      }

      strong {
        font-weight: 500;
      }

      em {
        font-style: italic;
      }

      a {
        color: #3333aa;
        font-weight: 500;
        text-decoration: none;
      }

      a:hover {
        color: #3333ff;
        text-decoration: none;
      }

      a:active {
        color: #333388;
      }

      a:visited {
        color: #222255;
        text-decoration: line-through;
      }

      ul, ol {
        margin-top: 1em;
        margin-bottom: 1.5em;
        padding-left: 1.1em;
      }

      ol {
        list-style-type: decimal-leading-zero;
      }

      li {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
      }
      
      pre code *, pre code {
        font-family: 'Source Code Pro';
        font-size: 14px;
        opacity: 1;
      }

      /*Scrollbar crap*/
      .scrollbar-track, .scrollbar-track:hover {
        background: rgba(170, 178, 189, 0.4);
      }

      .scrollbar-track-y {
        right: 1px;
      }

      .scrollbar-thumb {
        background: var(--theme-medium);
      }
