link(rel="import", href="../bower/polymer/polymer.html")
link(rel="import", href="../bower/app-layout/app-header/app-header.html")
link(rel="import", href="../bower/app-layout/app-scroll-effects/app-scroll-effects.html")
link(rel="import", href="../bower/app-layout/app-toolbar/app-toolbar.html")
link(rel="import", href="../bower/paper-tabs/paper-tabs.html")
link(rel="import", href="../bower/iron-pages/iron-pages.html")

link(rel="import" href="styles/zacharyrs-app.html")

dom-module#zacharyrs-app
  template
    style(is="custom-style" include="shared-styles")
    app-header
      app-toolbar
        h2.logo.
          zacharyrs
      paper-tabs(attr-for-selected="name", selected="{{selected}}", noink="")
        paper-tab(name="blog").
          blog
        paper-tab(name="portfolio").
          portfolio
        paper-tab(name="about").
          about me
        paper-tab(name="contact").
          contact me
    iron-pages(selected="{{selected}}", attr-for-selected="name", selected-attribute="visible")
      div(name="blog").
        BLOG APP HERE
      div(name="portfolio").
        PORTFOLIO APP HERE
      div(name="about").
        ABOUT ME APP HERE
      div(name="contact").
        CONTACT ME APP HERE
  script(type="text/javascript").
      Polymer({
          is: "zacharyrs-app",
          properties: {},
      });
