link(rel="import" href="styles/zacharyrs-app.html")

dom-module#zacharyrs-contactme
  template
    style(is="custom-style" include="shared-styles")
    div.
        This will be my contact me page.
  script(type="text/javascript").
      Polymer({
          is: "zacharyrs-contactme",
          properties: {},
      });
