link(rel="import", href="../bower/iron-menu-behavior/iron-menubar-behavior.html")

link(rel="import" href="styles/zacharyrs-app.html")

dom-module#zacharyrs-mobile-menu
  template
    style(is="custom-style" include="shared-styles").
      :host {
        position: fixed;
        z-index: 100;
        bottom: 0;
        right: 0;
        overflow: hidden;
        outline: none;
      }

      .menu-blocker {
        position: relative;
        will-change: transform;
        transform: translate(-100vw, 0);
        transition: all 0.2s ease-in;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.1);
      }

      .menu-wrapper {
        height: 18vh;
        width:  18vh;
        text-align: center;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .menu-btn {
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1;
        bottom: 4vh;
        right: 4vh;
        width: 12vh;
        height: 12vh;
        background: transparent;
        cursor: pointer;
      }

      .menu-btn:before {
        will-change: scale;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 12vh;
        height: 12vh;
        background: var(--theme-light);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        transform-origin: center 70%;
        transform: scale(1);
        border-radius: 50%;
        transition: all 0.35s ease-out;
      }

      .menu-wrapper:hover, .menu-wrapper.active, .menu-wrapper.full{
        height: 100vh;
        width: 56vw;
        transition: all 0.5s ease-in;
      }

      .menu-blocker.active {
        transform: translate(0, 0);
        transition: all 0.2s ease-out;
      }

      .menu-wrapper.active .menu-btn:before {
        transform: scale(26);
      }

      .hamburger {
        transition: all .3s ease-out;
        cursor: pointer;
      }

      .patty {
        will-change: transform;
        width: 5vh;
        height: 3px;
        margin: 0 0 0.8vh 0;
        background: var(--theme-grey-light);
        transform: translate(0) rotate(0deg);
        transition: all .2s ease-out;
      }

      .patty:last-child {
        margin-bottom: 0;
      }

      .menu-wrapper.active .hamburger {
        transform: rotate(-180deg);
      }

      .menu-wrapper.active .hamburger .patty:nth-child(1) {
        transform: translate(-1.5vh, 0.51vh) rotate(-45deg) scale(0.56, 1);
      }

      .menu-wrapper.active .hamburger .patty:nth-child(3) {
        transform: translate(-1.5vh, -0.51vh) rotate(45deg) scale(0.56, 1);
      }

      .menu-items {
        position: relative;
        top: 4vh;
        font-size: 8vw;
        text-align: right;
        z-index: 2;
        color: var(--theme-grey-light);
        display:  none;
      }

      .menu-wrapper.active .menu-items {
        display: inline-block;
      }

      .menu-items ::content div {
        margin-top: 6vh;
        outline: none;
        cursor: pointer;
      }

      .menu-items ::content > .iron-selected {
        font-weight: bold !important;
      }

    div.menu-blocker
    div.menu-wrapper
      div.menu-btn
        div.hamburger
          div.patty
          div.patty
          div.patty
      div.menu-items
        content

    script.
      var wrapper = document.querySelector('.menu-wrapper');
      var blocker = document.querySelector('.menu-blocker');
      var ham = document.querySelector('.hamburger');

      function openMenu(event) {
        wrapper.classList.toggle('active');
        blocker.classList.toggle('active');
        wrapper.classList.add('full');
        setTimeout(function () {
          wrapper.classList.remove('full');
        }, 500);
        event.preventDefault();
        event.stopImmediatePropagation();
      }

      ham.addEventListener('click', openMenu, false);
      blocker.addEventListener('click', openMenu, false);

  script(type="text/javascript").
      Polymer({
          is: "zacharyrs-mobile-menu",
          behaviors: [
            Polymer.IronMenubarBehavior
          ],
      });